sudo: false
language: python
cache: pip
python:
    - '2.7'
    - '3.4'
    - '3.5'
    - '3.6'
    - 'pypy'
    - 'pypy3'
matrix:
    allow_failures:
        - python: pypy
        - python: pypy3
install: pip install tox-travis
script: tox
notifications:
    on_success: change
    on_failure: change  # `always` will be the setting once code changes slow down

